@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import "welcome";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.input-style{
    background:#ffffff73;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    height: 40px;
    color: black;
    text-align: center;
    &::placeholder{
        color: black;
        text-align: center;
    }

    &:hover {
        border: 1px solid green;
    }

    &:focus {
        outline: none;
        border-color: #4caf50;
    }
}

.button-style{
    width: 200px;
    height: 50px;
    border: none;
    background: green;
    color: white;
    font-weight: 300;
    border-radius: 20px;

    &:hover {
        width: 202px;
        height: 52px;
        border: 1px solid rgb(2, 160, 2);
        cursor: pointer;
    }
    &:focus {
        outline: none;
        border-color: #4caf50;
        cursor: pointer;
    }
}